.yellow{
  color: yellow;
}
.main_heading{
  color: rgb(57, 2, 2);
}
.justify_center{
  display: flex;
  justify-content: center;
}
.mx-2{
  margin-right: 10px;
}
button{
  cursor: pointer;
}
.position_center{
  position: absolute;
  top: 50%;
  right: 50%;
  height: 50px;
  width: 50px;
  font-size: larger;
}